<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{recipetitle}}</p>
      <button class="delete" aria-label="close" (click)="toggleModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <h2>Calories: {{calories}}</h2>
      <br />
      <div *ngFor="let ingredient of ingredients">
        <p><span class="dot"></span>       
        {{ingredient.text}}</p>
      </div>
      <br />
      <h2>Instructions</h2>
      <p>Instructions are provided at <a href="{{url}}">{{source}}</a>
      </p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-info is-large">Save recipe</button>
    </footer>
  </div>
</div>

   
