<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{recipetitle}}</p>
      <button class="delete" aria-label="close" (click)="toggleModal()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <h2>{{ingredients.length}} ingredients | {{calories}} calories</h2>
      <div *ngFor="let ingredient of ingredients">
        <p><span class="dot"></span>
          {{ingredient.text}}</p>
      </div>
      <br />
      <img src={{image}} id="image">
      <br />
      <h2> <a href="{{url}}">Instructions</a></h2>
      <p>Detailed instructions are provided at <a href="{{url}}">{{source}}</a>, enjoy!
      </p>
    </section>
  </div>
</div>