h1 {
    font-size: 20px;
    font-weight: bold;
    background: -webkit-linear-gradient(right, #314755 0%, #26a0da  51%, #314755  100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
