<div class="middle">
<section class="section">
    <div class="columns is-centered">
        <h1 class="title">Whats cookin</h1>
    </div>
    <p class="description">Are you hungry? This is the place for you. We got over two million delicious recipes. </p>
    <p class="description">
       Use the searchbar to find your recipes. For inspiration, check our own featured recipes and guides down below.
    </p>
</section>
<app-searchbar></app-searchbar>
<app-recipesuggestions></app-recipesuggestions>
</div>